<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
      <h1>문의 리스트</h1>
      <table class="table table-striped">
        <thead>
           <tr>
             <td></td>
             <td>연결위치</td>
             <td>연결번호</td>
             <td>상태</td>
             <td>제목</td>
             <td>작성일자</td>
           </tr>
        </thead>
        <tbody>
          <%for(let board of boardList){%>
            <tr>
              <td><%=board.idNum%></td>
              <td><%=board.test%></td>
              <td>연결번호</td>
              <td>상태</td>
              <td>제목</td>
              <td>작성일자</td>
            </tr>
          <%}%>
        </tbody>
    </table>
    </div>
    <div class="container mb-3 text-center">
      ㄴㄴ ㄴ  
      <a href="?pageNum=1"> 1 </a> 
      <a href="?pageNum=2">2 </a> 
      3 4 5 ㄱ ㄱㄱ
    </div>
  </body>
</html>

