<nav class="navbar navbar-expand-sm navbar-light site-header sticky-top py-1 mb-3">
  <div class="container">
    <div class="navbar-brand">BuPum</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <%if(currentUser && currentUser.userclass =="normal"){%>
        <li class="nav-item"><a href="/order" class="nav-link">Upload</a></li>
        <%} if(currentUser && currentUser.userclass =="vender"){%>
        <li class="nav-item"><a href="/order/bidVenderIn" class="nav-link">BidInOrder</a></li>
        <%}%>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if(isAuthenticated){ %>
          <li class="nav-item"><a href="/order/bidList" class="nav-link">Bid list</a></li>
          <li class="nav-item"><a href="/order/list" class="nav-link">Order list</a></li>
          <li class="nav-item"><a href="/users/<%= currentUser.userid %>" class="nav-link">My Account</a></li>
          <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
        <% } else { %>
          <li class="nav-item"><a href="/users/new" class="nav-link">Sign Up</a></li>
          <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
