<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    법규 준수
    <div>
        <div>
            <!-- info -->
            
            ordernum:
            summary:
            status:
            subject : [class] id
            uploadfiles
            size
            color
            material
            if prototype
            quantity
            deadline
            description

        </div>
        <div>
            <!-- qna -->
        </div>
        <div>
            <!-- history -->
        </div>
    </div>
  </body>
</html>

