@font-face{
  font-family: "Roboto Slab";
  src:url('ttf/RobotoSlab-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
html, body { margin:10px;padding:0;
  background-color:#222222;
  background-image: url('./back4.png');
  background-size: 192px 1080px;
}
.table {
  width:1900px;
  height : 500px;
}
tr {
  margin : 0;
  padding : 0;
}
td {
  text-align : center;
  margin : 0;
  padding : 0;
}
.time {
  display:inline-block;
  text-align:center;
  font: 35px 'Roboto Slab', sans-serif;
  color : #dddddd;
}
.stage {
  display:inline-block;
  color : #dddddd;
  font: 35px 'Roboto Slab', sans-serif;

  text-align:center;
}
.clock {
  width:800px;
  height:60px;
  text-align:center;
}
.clock2 {
  width:100px;
  height:60px;
  text-align:center;
}
.num2 {
  position:relative;
  display:inline-block;
  width:100px;
  height:60px;
  font: 40px 'Roboto Slab', sans-serif;
  color:#ffffff;
  background:#000000;
  box-sizing:border-box;
  border-radius:18px;
}
.num {
  position:relative;
  display:inline-block;
  width:800px;
  height:60px;
  font: 40px 'Roboto Slab', sans-serif;
  color:#ffffff;
  background:#000000;
  box-sizing:border-box;
  border-radius:18px;
}

.colon {
  display:inline-block;
  font: 70px 'Roboto Slab', sans-serif;

  color:#ffffff;
}

.base span {
  position:absolute;
  display:block;
  width:100%;
}

.upper {
  position:absolute;  
  width:100%;
  height:50%;
  background:linear-gradient(0deg, #222222,#222222 15%);
  border-radius:10px 10px 0 0;  
  box-shadow: inset 0 1px 8px rgba(0,0,0);
  overflow:hidden;
  border-bottom:solid 1px rgba(0, 0, 0, 0.5);
  box-sizing:border-box;
}

.lower {
  position:absolute;
  top:50%;
  width:100%;
  height:50%;
  background:linear-gradient(180deg,  #222222,#222222 15%);
  border-radius:0 0 10px 10px;    
  box-shadow: inset 0 1px 8px rgba(0,0,0);
  overflow:hidden;
  border-top:solid 1px rgb(0, 0, 0);
  box-sizing:border-box;
}

.lower span {
  position:relative;
  top:-100%;
}

.blank {
  width : 100px;
}

/*3124985094358349053845390483405349853095*/

#clock3 {
  display:inline-block;
  width:500px;
  height: 500px;
  text-align:center;
}

.num3 {
  position:relative;
  display:inline-block;
  width:500px;
  height:700px;
  background:#000000;
  box-sizing:border-box;
  border-radius:18px;
}

.image3 {
  
  height: 200%;
  width : 100%;
  vertical-align: middle;
}

.base3 span {
  position:absolute;
  display:block;
  width:100%;
}

.upper3 {
  position:absolute;  
  width:100%;
  height:50%;
  background:linear-gradient(0deg, #222222,#222222 15%);
  border-radius:10px 10px 0 0;  
  box-shadow: inset 0 1px 8px rgba(0,0,0);
  overflow:hidden;
  border-bottom:solid 1px rgba(0, 0, 0, 0.5);
  box-sizing:border-box;
}

.lower3 {
  position:absolute;
  top:50%;
  width:100%;
  height:50%;
  background:linear-gradient(180deg,  #222222,#222222 15%);
  border-radius:0 0 10px 10px;    
  box-shadow: inset 0 1px 8px rgba(0,0,0);
  overflow:hidden;
  border-top:solid 1px rgb(0, 0, 0);
  box-sizing:border-box;
}

.lower3 span {
  position:relative;
  top:-100%;
}

.neon-wrapper {
  margin-left : 40px;
  display:inline-block;
  padding : 10px;
  box-shadow:
  0 0 0.1vw  0.4vw #bbbbbb,   
  0 0 0.4vw  0.6vw #707070, 
  0 0   4vw  0.4vw #000000,
  inset 0 0 1.5vw  0.4vw #000000,
  inset 0 0 0.4vw  0.2vw #707070,
  inset 0 0 0.5vw  0.2vw #bbbbbb;
  border-radius: 1.5rem;
}

/* 인디케이터 */

#indicater {
  position:fixed;
  top : 200px;
  left : 280px;
  width : 80px;
  height : 650px;
}

.airplan {
  position : relative;
  top : 400px;
  width : 80px;
  filter : blue;
}
.blinking{
	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

@font-face{
  font-family: "signPainter";
  src:url('ttf/SignPainter.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

.neon {
  font-family: signPainter;
  color: #ffffff;
  font-size: 6vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #ffffff;
}

.flux {
  font-family: signPainter;
  color: #426DFB;
  font-size: 6vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #2356FF;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}
.neon2 {
  font-family: signPainter;
  color: rgb(255, 78, 72);
  font-size: 6vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw rgb(204, 35, 30);
}
.neon2 {
  animation: neon2 5s ease infinite;
  -moz-animation: neon2 5s ease infinite;
  -webkit-animation: neon2 5s ease infinite;
}

@keyframes neon2 {
  0%,
  100% {
    text-shadow: 0 0 1vw #ffffff, 0 0 3vw #ffffff, 0 0 10vw #ffffff, 0 0 10vw #ffffff, 0 0 .4vw #000000, .5vw .5vw .1vw #b1b1b1;
    color: rgb(255, 255, 255);
  }
  50% {
    text-shadow: 0 0 .5vw #585858, 0 0 1.5vw #585858, 0 0 5vw #585858, 0 0 5vw #585858, 0 0 .2vw #585858, .5vw .5vw .1vw rgb(83, 83, 83);
    color: rgb(129, 129, 129);
  }
}
.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}