<nav class="navbar navbar-expand-sm navbar-light site-header sticky-top py-1 mb-3" style="background-color: rgb(45, 74, 82);">
  <div class="container">
    <div class="navbar-brand"><a href="/pd" class="nav-link">BuPum Admin</a></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
          <li class="nav-item"><a href="/pd/user" class="nav-link">user</a></li>
          <li class="nav-item"><a href="/pd/order" class="nav-link">order</a></li>
          <li class="nav-item"><a href="/pd/order" class="nav-link">bid</a></li>
          <li class="nav-item"><a href="/pd/order" class="nav-link">qna</a></li>

      </ul>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/pd/logout" class="nav-link">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<%if(menu.length != 0){%>
<div class="side-menu">
  <%for(var menuData of menu){%>
  <div><a href='<%=menuData.href%>' class="<%=menuData.selected%>" >><%=menuData.name%></a></div>
  <%}%>
</div>  
<%}%>
