<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <script src="/js/pd/user.js"></script>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">사용자 정보 상세 조회/수정</h2>

      <div>
        
      </div>
    </div>
  </body>
</html>
