<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">벤더 정보 조회/수정</h2>

      <P>앙앙</p>
    </div>
  </body>
</html>
