.container {
    max-width: 80%;
  }
.last {
  font-weight:bold;
}
.nav-fixed-buttons{
  width:100px;
  height:300px;
  position:fixed;
  right:10px;
  bottom:150px;
  border:1px solid black;
}
.buton{
  display:block;
  widows: 100%;
  text-decoration: none;
}
.red-b{
  background-color: red;
}
.blue-b{
  background-color: blue;
}
.yellow-b{
  background-color: yellow;
}
.bordered {
  border: 1px solid black;
}
.btn-a {
  position: relative;
  top:2px;
  text-decoration: none;
  display:inline-block;
  padding : 6px 12px 6px 12px;
  color : black;
  border : 1px solid wheat;
  border-radius : 4px;
  background-color: wheat;
}
.btn-a:hover {
  background-color: rgb(223, 178, 95);
  border : 1px solid rgb(223, 178, 95);
  text-decoration: none;
  color : black;
}