
<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <script src="/js/order.js"></script>
    <link rel="stylesheet" href="/css/order.css">
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1>입찰 리스트</h1>
    
  </body>
</html>