<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <script src="/js/order.js"></script>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
        <div>
            <h2>구매 확정 완료</h2>
        </div>
        <div>
            <button type="button" class="btn">후기 작성</button>
        </div>
    </div>
  </body>
</html>

