<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <h1>테스트 페이지</h1>
    
  </body>
  <%- include('../partials/footer') %>
</html>
