<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">여러분의 상상을 만들어보세요</h1>
        <p class="lead font-weight-normal">담당 PD들이 최고의 업체를 찾아 완벽한 부품을 만들어드립니다</p>
        <div class="form-group">
          <!--input type="file" name="img[]" class="file"-->
          <div class="input-group col-xs-12 justify-content-center">
            <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
            <!--input type="text" class="form-control input-lg" disabled placeholder="Upload Image"-->
            <span class="input-group-btn">
              <button class="browse btn btn-primary input-lg" type="button" onclick="goPage('<%=isAuthenticated?`order`:`login`%>')"><!--i class="glyphicon glyphicon-search"></i-->Upload Now</button>
            </span>
          </div>
        </div>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
    
    </div>
  </body>
</html>

